/* Body */

/* Variables & base */

:root {
    --text-color: rgb(236, 236, 236);
    --grey-text-color: #8d8d8d;
    --red-color: rgb(114, 0, 0);
    --gold-color: rgb(255, 166, 0);
}

/* Fonts */
@font-face {
    font-family: "Roboto-Black";
    src: url("fonts/Roboto-Black.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("fonts/Roboto-Italic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
    font-display: swap;
}

/* Body */

body {
    background-color: rgb(18, 18, 18);
}

/* Divs */

div.main {
    background-color: rgb(22, 22, 22);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem;
    padding-bottom: 2rem;
    border: 2rem;
    margin: 0.5rem;
    border-radius: 2rem;
    /* Overflow to make sure floating divs are contained */
    overflow: hidden
}

div.row1 {
    border-radius: 1rem;
}

div.row2 {
    border-radius: 1rem;
    overflow: hidden
}

div.row3 {
    /* This will have to be in the form of a "because" symbol */
    border-radius: 1rem;
}

div.star1 {
    position: absolute;
}

div.stat-overview {
    text-align: center;
}

div.avatar1g {
    width: 80%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

div.avatar1b {
    width: 80%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

div.avatar2g {
    width: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    float: left;
}

div.avatar2b {
    width: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    float: left;
}

/* Headings */

h1.title,h1.month {
    font-family: Roboto-Black;
    color: var(--text-color);
    text-align: center;
}

h1.title {
    font-size: 2.5rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.548);
}

h1.month {
    margin-top: 0%;
    font-weight: bold;
    font-size: 2.6rem;
    background: -webkit-linear-gradient(rgb(177, 12, 12), rgb(251, 162, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

div.stat-overview h1,h2,h3 {
    color: var(--text-color);
    font-family: Roboto-Regular;
}

div.stat-overview h3 {
    color: var(--grey-text-color);
}

h1.section-heading {
    font-size: 2rem;
    color: var(--text-color);
    font-family: Roboto-Regular;
    text-align: center;
}

div.avatar1g h2 {
    font-family: Roboto-Italic;
    color: var(--text-color);
    animation: neon-gold 2s ease infinite;
    -moz-animation: neon-gold 2s ease infinite;
    -webkit-animation: neon-gold 2s ease infinite;
}

div.avatar1b h2 {
    font-family: Roboto-Italic;
    color: var(--text-color);
    animation: neon-red 2s ease infinite;
    -moz-animation: neon-red 2s ease infinite;
    -webkit-animation: neon-red 2s ease infinite;
}

h2.avatar2subtitle {
    font-family: Roboto-Italic;
    color: var(--text-color);
    font-size: smaller;
}

h2.footerIcon {
    font-family: Roboto-Black;
    text-align: center;
    margin-bottom: 0%;
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(252,75,69,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* Text (p) */

p {
    font-family: Roboto-Regular;
    color: var(--text-color);
}

p.desc {
    text-align: center;
    font-family: Roboto-Light;
    font-size: small;
}

p.avatar1text {
    text-align: center;
}

p.avatar2text {
    text-align: center;
    font-size: 70%;
    padding-left: 5px;
    padding-right: 5px;
}

p.avatar1desc {
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-small;
    color: var(--grey-text-color);
}

p.avatar2desc {
    padding-left: 10px;
    padding-right: 10px;
    font-size: xx-small;
    color: var(--grey-text-color);
}

div.footer p {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--grey-text-color);
    font-size: xx-small;
    text-align: center;
}

/* Images */

img {
    /* To beutify src error text */
    color: var(--text-color);
    font-family: Roboto-Regular;
    text-align: center;
    font-size: x-small;
}

img.roll-shadow {
    filter: drop-shadow(7px 7px 7px #131313);
    -webkit-filter: drop-shadow(7px 7px 7px #131313);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 100px;
}

div.avatar1b img {
    border: 2px solid var(--red-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width 80% */
    width: 224px;
    height: 297px;
}

div.avatar1g img {
    border: 2px solid var(--gold-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width 80%; */
    width: 224px;
    height: 297px;
}


div.avatar2b img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width 80% */
    width: 140px;
    height: 186px;
    border: 2px solid var(--red-color);
}

div.avatar2g img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width 80% */
    width: 140px;
    height: 186px;
    border: 2px solid var(--gold-color);
}

/* Other */

hr {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    height: 1px;
    color: rgb(54, 54, 54); /* old IE */
    background-color: rgb(54, 54, 54); /* Modern Browsers */
    clear: both; /* This fixes weird dissapearing bug */
}

hr.marg {
    margin-bottom: 0px;
}

hr.mid {
    margin-top: 20px;
}

hr.sep {
    background-color: #1b1b1b;
    margin-bottom: 10px;
}

div.stat-overview strong {
    font-family: Roboto-Black;
    font-size: 1.5rem;
    color: var(--text-color);
    background: -webkit-linear-gradient(rgb(40, 154, 207), rgb(0, 255, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

div.avatar1b strong {
    color: var(--red-color)
}

div.avatar1g strong {
    color: var(--gold-color)
}

div.avatar2b strong {
    color: var(--red-color)
    
}

div.avatar2g strong {
    color: var(--gold-color)
}

strong.bold {
    color: var(--text-color);
}

/* Keyframes */

@keyframes neon-gold {
    /* https://codepen.io/Trinca/pen/NAvpWa */
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #fbc500;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #ee9910;
    }
  }

  @keyframes neon-red {
    /* https://codepen.io/Trinca/pen/NAvpWa */
    0%,
    100% {
      text-shadow: 0 0 1vw #750400, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #fb0000;
    }
    50% {
      text-shadow: 0 0 .5vw #500300, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #ff0000;
    }
  }